// ======================================
//  Variables
// ======================================

// Fonts
$font-stack: "Nunito", sans-serif;

// Breakpoints (Sass map)
$breakpoints: (
  "xs": 599px, // smartphone width; not in use due to mobile-first design
  "sm": 600px, // tablet portrait
  "med": 900px, // tablet landscape
  "lg": 1200px, // desktop
  "xl": 1800px // large desktop
);

// Colors
$dark-text-color: #555;
// $dark-text-color: #fff;

$light-text-color: #fff;
// $light-text-color: #555;

// $color-primary: #d7d9ce;
$color-primary: #6d1a36;
// $color-primary: #2274a5;
// $color-primary: #13505b;

$color-secondary: #d7d9ce;
// $color-secondary: #6d1a36;
// $color-secondary: #2274a5;
// $color-secondary: #13505b;

// $color-tertiary: #2274a5;
// $color-tertiary: #6d1a36;
$color-tertiary: #2274a5;
// $color-tertiary: #13505b;

// $color-accent: #d7d9ce;
// $color-accent: #6d1a36;
// $color-accent: #2274a5;
$color-accent: #13505b;

$about-text-color: #fff;
// $about-text-color: #555;
// $about-text-color: $color-secondary;

$main-content-bg-color: $color-secondary;
$main-content-bg-color: $color-primary;

// $portfolio-heading-color: $color-primary;
$portfolio-heading-color: $color-secondary;
// $portfolio-heading-color: $color-tertiary;
// $portfolio-heading-color: $color-accent;

$project-text-color: $color-primary;
// $project-text-color: $color-secondary;
// $project-text-color: $color-tertiary;
// $project-text-color: $color-accent;

// $project-card-color: $color-primary;
$project-card-color: $color-secondary;
// $project-card-color: $color-tertiary;
// $project-card-color: $color-accent;

// $footer-text-color: $color-primary;
$footer-text-color: $color-secondary;
// $footer-text-color: $color-tertiary;
// $footer-text-color: $color-accent;

$success-color: #32aaf1;
$error-color: #b92c5c;
$warning-color: #2393a7;
$nav-icon-color: #a6a6b9;
$link-color-active: $color-secondary;
$background-color: $color-secondary;
$border-color: darken($background-color, 20);

$btn-color-default: $color-primary;
// $btn-color-default: $color-secondary;
// $btn-color-default: $$color-tertiary;
// $btn-color-default: $color-accent;

// $btn-text-color: $color-primary;
$btn-text-color: $color-secondary;
// $btn-text-color: $color-tertiary;
// $btn-text-color: $color-accent;

$btn-color-cancel: #b2b2b2;
$btn-cancel-text-color: $light-text-color;

$form-color: lighten($border-color, 20);

// Border
$border-line: 2px solid $border-color;

//Transitions
$cub-bez: cubic-bezier(.5,-0.5,.5,1.5);
