/* ======================================
    Page Notifications Styles
   ====================================== */

.close-x {
  border-radius: 5px;
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
  margin-left: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  @include transition;
}

.alert {
  @include alert;
   background-color: $color-tertiary;
   color: $light-text-color;

   &:hover .close-x,
   &focus .close-x {
     background-color: #fff;
     color: $color-tertiary;
   }

}

.confirmation {
  @include alert;
  background-color: $success-color;

  &:hover .close-x,
  &focus .close-x {
    background-color: #fff;
    color: $success-color;
  }
}

.error {
  @include alert;
  background-color: $error-color;

  &:hover .close-x,
  &focus .close-x {
    background-color: #fff;
    color: $error-color;
  }
}

.warning {
  @include alert;
  background-color: $warning-color;

  &:hover .close-x,
  &focus .close-x {
    background-color: #fff;
    color: $warning-color;
  }
}
