/* ======================================
    Animations
   ====================================== */

/* Animation for coloring SVG icon */
@keyframes fill-color {
  0% {fill: $about-text-color;}

  100% {fill: $color-tertiary;}
}

/* Animation for shaking an object */
@keyframes shake {
  0% {transform: rotate(0deg);}
  10% {transform: rotate(10deg);}
  20% {transform: rotate(-10deg);}
  30% {transform: rotate(10deg);}
  40% {transform: rotate(-10deg);}
  50% {transform: rotate(10deg);}
  60% {transform: rotate(-10deg);}
  70% {transform: rotate(10deg);}
  80% {transform: rotate(-10deg);}
  90% {transform: rotate(10deg);}
  100% {transform: rotate(0deg);}
}

/* Rotate object counter clockwise by 90 degrees */
.rotateCCW90 {
  transform: rotate(-90deg);
}
