/* ======================================
    Buttons Styles
   ====================================== */

button {
  background-color: $btn-color-default;
  color: $btn-text-color;
  border: none;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
  text-transform: uppercase;
  @include transition($dur: 0.2s);

  &:hover,
  &focus {
    background-color: darken($btn-color-default, 8);
    // background-color: lighten($btn-color-default, 5);
    color: $btn-text-color;
    cursor: pointer;
    text-decoration: none;
  }

}
