/* ======================================
    Buttons Styles
   ====================================== */

button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
  text-transform: uppercase;
  @include transition($dur: 0.2s);

  .message-user & {
    width: 100%;
  }

  .settings & {
    width: 40%;
  }
}

.submit-btn {
  background-color: $btn-color-default;
  color: $light-text-color;

  &:hover,
  &:focus {
    background-color: darken($btn-color-default, 20);
    color: $light-text-color;
  }
}

.cancel-btn {
  background-color: $btn-color-cancel;
  color: $dark-text-color;

  &:hover,
  &:focus {
    background-color: darken($btn-color-cancel, 20);
    color: $dark-text-color;
  }
}
