/* ======================================
    Buttons Styles
   ====================================== */

button {
  background-color: $color-secondary;
  color: $color-primary;
  border: none;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
  text-transform: uppercase;
  @include transition($dur: 0.2s);

  &:hover,
  &focus {
    background-color: darken($color-secondary, 8);
    // background-color: lighten($color-secondary, 5);
    color: $color-primary;
    cursor: pointer;
    text-decoration: none;
  }

}
