/* ======================================
    Header Styles
   ====================================== */

.header {
  background-color: $color-tertiary; //fallback if image doesn't load
  background-image: url(/images/markus-spiske-771011-unsplash.jpg);
  // background-image: linear-gradient(
  //   45deg,
  //   $color-primary, $color-tertiary);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  color: $about-text-color;

  @include flexbox($dir:column, $just:center);
  align-items: center;

  position: relative;
  padding: 0;

  @include mq('sm'){
    background-position: center center;
    padding: 2em 1em;
  }

  @include mq('med'){
    padding: 4em 1em;
  }
}

.about {
  @include flexbox($dir:column, $just:center);
  align-items: center;
  text-align: center;
  // padding: 1em;
  width: 100%;
  z-index: 1;

  @include mq("sm") {
    width: 80%;
  }
  @include mq("med") {
    width: 75%;
  }
  & h4 {
    font-size: 2em;
    margin: 0;
  }
}

.blurb {
  text-align: center;
  padding: 0 1em;
  width: 90%;

  @include mq("sm") {
    width: 80%;
  }
  @include mq("med") {
    width: 70%;
  }
}

.about-links {
  @include flexbox($dir:row, $just: space-evenly);
  align-items: center;
  // position: relative;
  width: 90%;

  @include mq('sm') {
    width: 50%;
  }

  & i {
    font-size: 40px;

    @include mq('sm') {
      width: 28px;
      height: 28px;
    }
  }

  & .about-icon {
    background-image: url(/images/treehouse_logo-white.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center -2px;
    background-size: 56px 56px;
    display: inline-block;
    width: 56px;
    height: 56px;

    @include mq('sm') {
      background-position: 5px 6px;
      background-size: 58px 58px;
      width: 58px;
      height: 58px;
      margin: 0 -15px;
    }
  }

  // & img {
  //   display: inline-block;
  //   width: 28px;
  //   // position: absolute;
  //   top: -5;
  //   @include mq('sm') {
  //     width: 28px;
  //   }
  // }
}

.credit {
  display: none;
  align-self: flex-end;
  margin: 1em;
  // z-index: 1;
}

.header-overlay {
  content: "";
  background-color: #000;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
