/* ======================================
    Header Styles
   ====================================== */

.header {
  background-color: $color-secondary; //fallback
  // background-image: linear-gradient(
  //   45deg,
  //   $color-secondary, $color-tertiary);
  color: $light-text-color;

  @include flexbox($dir:column, $just:center);
  align-items: center;
}

.headline {
  text-align: center;
  padding: 1em;
  width: 90%;

  @include mq("sm") {
    width: 80%;
  }
  @include mq("med") {
    width: 50%;
  }
  & h4 {
    font-size: 2em;
  }
}
