/* ======================================
    Portfolio Styles
   ====================================== */

h2,
h3 {
  text-transform: uppercase;
  margin: 0.5em;
}

h2 {
  font-size: 2.3em;
}

.main-content {
  background-color: $main-content-bg-color;
  // background-color: lighten($main-content-bg-color, 5);
  // background-image: linear-gradient(
  //   45deg,
  //   $color-primary, $color-tertiary);
  color: $light-text-color;
  padding: 1em;
}
