/* ======================================
    Navigation Styles
   ====================================== */

.navbar {
  font-size: 1.2em;
  background-color: $color-primary;
  color: $color-secondary;
  border-bottom: 5px solid $color-secondary;
  box-shadow: 5px 5px 10px 0px rgba(46,61,73,0.4),
    -5px 0px 10px 0px rgba(46,61,73,0.4);
  @include sticky-top;
  overflow: visible;

  @include transition($dur:0.1s);

  @include flexbox($dir:column);

  align-items: center;
  height: fit-content;
  height: -moz-fit-content;
  width: 100%;
  padding: 0 0.5em;

  @include mq('med'){
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
  }

  & a {
    color: $color-secondary;
  }

}

.submenu {
  @include flexbox($dir: row, $just:space-between);
  align-items: center;
  width: 96%;

  @include mq('med') {
    width: 80%;
  }
}

.brand {

  @include mq('sm') {
    @include flexbox($dir:row, $just:space-between);
  }

  & .avatar {
    border: 8px double $color-secondary;
    border-radius: 50%;
    display: none;
    width: 60px;
    height: 60px;
    margin: 1em 0.75em 1em 0;
    @include transition($tim: $cub-bez);

    &:hover,
    &focus {
      transform: scale(1.2);
    }

    @include mq('med') {
      display: inline-block;
      margin-left: 0.75em;
    }
  }

  & span {
    display: inline-block;
  }

}

.brand-titles {
  @include flexbox($dir:column);
  align-items: center;

  @include mq('med') {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  & h1 {
    font-size: 1.5em;
    margin-top: 0.25em;

    @include mq('med') {
      font-size: 2em;
      margin-top: 0.2em;
      margin-bottom: 0.5em;
    }
  }

  & :first-child {
    margin-bottom: 0;
  }

  & :last-child {
    display: none;
    border-top: 3px solid $color-secondary;
    font-weight: 300;
    padding-top: 0.25em;
    margin-bottom: 0.25em;

    @include mq('lg') {
      display: block;
      border: none;
      border-left: 3px solid $color-secondary;
      padding-top: inherit;
      margin-bottom: inherit;
      margin-left: 0.5em;
      padding-left: 0.5em;
    }
  }
}

/* Hamburger */
.hamburger {
  display: inline-block;

  @include mq('med') {
    display: none;
  }

}
.hamburger .line{
  width: 50px;
  height: 5px;
  background-color: $color-secondary;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}


.nav-list {
  display: none;
  list-style: none;
  text-align: center;
  margin: 0;

  @include mq('med'){
    font-size: 1.2em;
    @include flexbox($dir:row);
    justify-content: space-evenly;
    margin-left: auto;
  }

  & li {
    margin: .25em 0;
    padding: 0.5em;
  }

  & a {
    background-color: $color-secondary;
    border-radius: 5px;
    padding: 1em;
    color: $color-primary;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 90vw;

    &:hover,
    &:active,
    &.active {
      background-color: $color-tertiary;
      color: $light-text-color;
    }

    @include mq('med') {
      background-color: inherit;
      color: $color-secondary;
      border: none;
      padding: 0.5em;
      width: auto;

      &:hover,
      &:active,
      &.active {
        background-color: inherit;
        border-radius: 0;
        border-bottom: 3px solid $link-color-active;
        color: $color-secondary;
      }

    }

  }

}
