/* ======================================
    Portfolio Styles
   ====================================== */

.portfolio {

  & h2,
  & h3 {
    color: $portfolio-heading-color;
  }

  & .port-heading > h2 {
    // font-size: 2.25em;
    text-align: center;
  }

  & h4 {
    font-size: 32px;
    margin: 0.25em 0;
  }

  & p {
    font-size: 1.2em;
    margin: 0 0 0.5em 0;
  }
}

.client-projects,
.practice-projects {

  & > h3 {
    font-size: 1.8em;
    margin-bottom: 1em;
  }

}

.project-gallery {
  @include flexbox($dir:row, $just:space-evenly, $wrap:wrap);
  align-items: stretch;
}

.project-card {
  background-color: $project-card-color;
  border-radius: 5px;
  color: $project-text-color;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;

  @include flexbox($dir: column);

  @include shadow;

  @include mq('sm') {
    width: 45%;
  }

  @include mq('med') {
    // width: 30%;
  }

  @include mq('lg') {
    width: 30%;
  }

  @include mq('xl') {
    width: 22%;
  }


  & h2,
  & h3,
  & h4 {
    color: $project-text-color;
  }


}

.project-thumb {

  @include mq('sm') {

  }

  @include mq('med') {

  }

  & ~ h4 {
    text-align: center;
  }

  & a {
    display: block;
    padding: 1em;
    margin: 0;
    text-align: center;

    // Alternative style for icon's background
    // border-radius: 5px;
    // background-color: $project-text-color;

    @include mq('sm') {

    }

    @include mq('med') {

    }
  }

  & i {
    color: $project-text-color;
    // Alternative icon color for when wrapper link has background color
    // color: $project-card-color;
    font-size: 8em;
    @include transition($tim: $cub-bez);

    @include mq('sm') {

    }

    @include mq('med') {

    }

    &:hover,
    &focus {
      transform: scale(1.2);
    }

  }
}

/* Project summary within project card */
.project-summary {
  @include flexbox($dir: column);
  flex-grow: 1;
  line-height: 1.4;
  font-size: 1.2em;

  // & h4 {
  //   font-size: 1.6em;
  //   margin: 0.25em 0;
  // }

  & > h4 {
    text-align: center;

    & ~ p {
      // font-size: 1.2em;
      // margin: 0 0 0.5em 0;
    }
  }

}

.modal-trigger {
  display: block;
  margin-top: auto;
  margin-bottom: 0;
}

.modal-content-window {
  & .view-btn {
    @include button;
    font-size: 1.2em;
    display: inline-block;
    margin: 0.5em 0;
  }
}

/* List of project details within modal */
ul.project-info {
  padding: 0;
  // text-align: center;

  & li {
    font-size: 1.3em;
    margin-bottom: 0.5em;
  }
  & li > ul > li {
    font-size: 1.1rem;
  }

  // & .project-tasks li {
  //   font-size: 1.3rem;
  //   line-height: 1.3;
  //   list-style: disc;
  //   list-style-position: outside;
  //   margin-left: 2em;
  // }

  & .skill-tags {
    margin-left: 0.5em;
  }

  & .skill-tags,
  & .skill-tags li {
    display: inline-block;
  }
  & .skill-tags li {
    border-radius: 6px;
    background: $color-tertiary;
    color: $light-text-color;
    // font-size: 1.1em;
    padding: 5px 10px;
    margin: 2px;
  }

  & .skill-tags li:nth-child(even) {
    background: $color-accent;
  }
}

/* === Accordion Triggers and Content === */

// May also add a "lessons learned" accordion panel

.summary-trigger,
.tasks-trigger,
.results-trigger {
  @include accordion-trigger;
}

.project-tasks li {
  font-size: 1.3rem;
  line-height: 1.3;
  list-style: disc;
  list-style-position: outside;
  margin-left: 2em;
}

.project-summary,
.project-results {
  padding: 0 0.5em;
}
