/* ======================================
    Portfolio Styles
   ====================================== */

.portfolio {

  & h2,
  & h3 {
    color: $portfolio-heading-color;
  }

  & h2 {
    text-align: center;
  }
}

.client-projects,
.treehouse-projects {

}

.project-gallery {
  @include flexbox($dir:row, $just:space-evenly, $wrap:wrap);
  align-items: stretch;
}

.project-card {
  background-color: $project-card-color;
  border-radius: 5px;
  color: $project-text-color;
  width: 100%;
  padding: 1em;

  @include shadow;

  @include mq('sm') {
    width: 50%;
  }

  @include mq('med') {
    width: 33%;
  }

  @include mq('lg') {
    width: 25%;
  }

  & h2,
  & h3,
  & h4 {
    color: $project-text-color;
  }

}

.project-thumb {

  & img {

  }
}

.project-summary {
  line-height: 1.4;
  font-size: 1.2em;

  & h4 {
    font-size: 1.2em;
  }

  & button {
    display: block;
  }
}

.project-info {

}
